<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add New Customer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <form th:action="@{/createEmployee}" method="post" th:object="${employee}">
        <table>
            <tr>
                <td><label for="name">NAME:</label> </td>
                <td><input type="text" id="name" th:field="*{name}"></td>
            </tr>
            <tr>
                <td><label for="birth">BIRTH:</label> </td>
                <td><input type="date"  id="birth" th:field="*{birth}"></td>
            </tr>
            <tr>
                <td><label for="idPerson">ID_PERSON:</label> </td>
                <td><input type="text" id="idPerson" th:field="*{idPerson}"></td>
            </tr>
            <tr>
                <td><label for="salary">SALARY:</label> </td>
                <td><input type="text" id="salary" th:field="*{salary}"></td>
            </tr>
            <tr>
                <td><label for="phoneNumber">PHONE_NUMBER:</label> </td>
                <td><input type="text" id="phoneNumber" th:field="*{phoneNumber}"></td>
            </tr>
            <tr>
                <td><label for="email">EMAIL:</label> </td>
                <td><input type="text" id="email" th:field="*{email}"></td>
            </tr>
            <tr>
                <td><label for="part">PART:</label> </td>
                <td>
                    <select id="part" th:field="*{part}" >
                        <option th:each="each:${Part}" th:value="${each.id}" th:text="${each.partName}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="position">POSITION:</label> </td>
                <td>
                    <select id="position" th:field="*{position}" >
                        <option th:each="each:${position}" th:value="${each.id}" th:text="${each.positionName}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td><label for="level">LEVEL:</label> </td>
                <td>
                    <select id="level" th:field="*{level}" >
                        <option th:each="each:${Level}" th:value="${each.id}" th:text="${each.levelName}"></option>
                    </select>
                </td>
            </tr>

            <tr>
                <td><input type="submit" value="Create Employee"></td>
            </tr>

        </table>
    </form>
</div>

</body>
</html>